## 과제 1: Receipts for Lovely Loveseats

In [2]:
lovely_loveseat_description = "Lovely Loveseat. Tufted polyester blend on wood. 32 inches high x 40 inches wide x 30 inches deep. Red or white."
lovely_loveseat_price = 254.00
stylish_settee_description = "Stylish Settee. Faux leather on birch. 29.50 inches high x 54.75 inches wide x 28 inches deep. Black."
stylish_settee_price = 180.50
luxurious_lamp_description = "Luxurious Lamp. Glass and iron. 36 inches tall. Brown with cream shade."
luxurious_lamp_price = 52.15
sales_tax = 0.088

customer_one_total = 0
customer_one_itemization = ""
customer_one_total += lovely_loveseat_price
customer_one_itemization += lovely_loveseat_description

customer_one_total += luxurious_lamp_price
customer_one_itemization += luxurious_lamp_description

customer_one_tax = customer_one_total * sales_tax
customer_one_total += customer_one_tax

print("Customer One Items:")
print(customer_one_itemization)
print("Customer One Total:")
print(customer_one_total)

Customer One Items:
Lovely Loveseat. Tufted polyester blend on wood. 32 inches high x 40 inches wide x 30 inches deep. Red or white.Luxurious Lamp. Glass and iron. 36 inches tall. Brown with cream shade.
Customer One Total:
333.09119999999996

## 과제 2: Gradebook

In [20]:
subjects = ["physics", "calculus", "poetry", "history"]
grades = [98, 97, 85, 88]
gradebook = [
    ["physics", 98],
    ["calculus", 97],
    ["poetry", 85],
    ["history", 88]
]

print(gradebook)

[['physics', 98], ['calculus', 97], ['poetry', 85], ['history', 88]]

In [21]:
gradebook.append(["computer science", 100])
gradebook.append(["visual arts", 93])
print(gradebook)

[['physics', 98], ['calculus', 97], ['poetry', 85], ['history', 88], ['computer science', 100], ['visual arts', 93]]

In [22]:
gradebook[5][1] = 98
gradebook[2].remove(85)
gradebook[2].append("Pass")
print(gradebook)

[['physics', 98], ['calculus', 97], ['poetry', 'Pass'], ['history', 88], ['computer science', 100], ['visual arts', 98]]

In [23]:
last_semester_gradebook = [["politics", 80], ["latin", 96], ["dance", 97], ["architecture", 65]]
full_gradebook = last_semester_gradebook + gradebook
print(full_gradebook)

[['politics', 80], ['latin', 96], ['dance', 97], ['architecture', 65], ['physics', 98], ['calculus', 97], ['poetry', 'Pass'], ['history', 88], ['computer science', 100], ['visual arts', 98]]

## 과제 3: Carly's Clippers

In [41]:
hairstyles = ["bouffant", "pixie", "dreadlocks", "crew", "bowl", "bob", "mohawk", "flattop"]
prices = [30, 25, 40, 20, 20, 35, 50, 35]
last_week = [2, 3, 5, 8, 4, 4, 6, 2]

total_price = 0
for price in prices:
	total_price += price
	
average_price = total_price / len(prices)
print("Average price is", average_price)

Average price is 31.875

In [42]:
new_prices = [price - 5 for price in prices]
print(new_prices)

[25, 20, 35, 15, 15, 30, 45, 30]

In [43]:
total_revenue = 0
for i in range(len(hairstyles)):
	total_revenue += prices[i] * last_week[i]
print(total_revenue)

1085

In [44]:
average_daily_revenue = total_revenue / 7
print("Average daily revenue is", average_daily_revenue)

Average daily revenue is 155.0

In [45]:
cuts_under_30 = []
for i in range(len(new_prices) - 1):
	if new_prices[i] < 30:
		cuts_under_30.append(hairstyles[i])

print(cuts_under_30)

['bouffant', 'pixie', 'crew', 'bowl']

## 과제 4: 나의 조선시대 이름 찾기

In [48]:
def get_my_chosun_name(family_name, month, day):
	two = month_name[month - 1]
	three = day_name[day - 1]
	print(family_name + two + three)

month_name = ['쌍', '쇠', '복', '돌', '팽', '육', '쌍', '개', '칠', '갑', '삼', '방']
day_name = ['봉', '구', '욕', '포', '똥', '삼', '식', '석', '놈', '님', '년', '돌', '단', '득', '방', '질', '장', '걸', '래', '룡', '동', '순', '자', '박', '창', '언', '것', '포', '만', '단', '국']

get_my_chosun_name("박", 7, 23)

박쌍자